@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #fff ;
}

/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3A66C;
    padding: 20px 50px;
    position: relative;
}

.logo {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
    display: none;
    margin: 3px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 25px;
}

.nav-links li a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: 0.4s ease;
}

.nav-links li a:hover {
    color: #F7E1AB;
}


@media screen and (max-width: 600px) {

.navbar{
    display: none;
}

.container{
 padding-left: 15px;
 padding-top: 15px;
}

.container h1{
    font-size: 25px;
    text-transform: capitalize;
}
 
.container p{
    margin-top: 20px;
    font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
}

.container ul li{
    margin: 12px;
    font-weight: 800;
    font-size: 18px;
}

hr{
    width: 95%;
    margin-top: 10px;
    
}

.internet ul{
    margin-top:8px ;
  
}

.list{
    display: flex;
   margin-left: 10px;
   gap: 60px;
   text-transform: capitalize;
  
}

.amenities .list{
    gap: 120px;
}

.food .list{
    gap: 120px;
}

.header{
    display: flex;
    gap: 80px;
}

button{
    width: 150px;
    text-transform: capitalize;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid black;
    font-size: 18px;
}



    /* .link2{
        width: 100%;
        height: 60px;
        background-color:#E2E2E2;
        position: fixed;
        bottom: 0;
      
        display: flex;
        justify-content: space-around;
    }

    i{
        font-size: 20px;
        margin-top: 20px;
        color: #000;
    } */
/*  */
    /* .i{
        margin-top: ;
    } */
/* 
    p{
        text-transform: capitalize;
position: relative;
bottom: 10px;
font-size: 18px;

    }

    .icon1{
        text-align: center;
        padding: 8px;
     
    }

    .icon2{
        text-align: center;
        padding: 8px;
    }

    .icon3{
        text-align: center;
        padding: 8px;
    }

    .icon4{
        text-align: center;
        padding: 8px;
    }

 .nav a.active{
    color: red;
 }
 
   */
}

@media screen and (min-width: 610px) {

    .navbar {
        padding: 20px 25px;
    }

    .toggle-button,
    .toggle-button .bar {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 600px;
        background: linear-gradient(#F3A66C, #F5C187);
        padding: 25px;
        text-align: center;
        top: 100%;
        left: 0;
    }

    .nav-links li a {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        transition: 0.4s ease;
    }

    .nav-links li {
        padding: 12px 0;
    }

    .nav-links.active {
        display: block;
    }


    .link2{
        display: none;
    }

   

}
@media screen and (min-width: 1200px) {

    .link2{
display: none;
    }
  
}